* {
  box-sizing: border-box;
}
:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGreyishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}
body {
  font-family: Inter, sans-serif;
  padding: 50px;
}
p {
  font-size: 15px;
}
.navbar {
  width: 1000px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: var(--darkGreyishBlue);
  padding: 0 1rem;
}
header nav a:hover {
  color: var(--softRed);
}
header nav a:last-child {
  padding-right: 0;
}
#menu-icon {
  display: none;
}
#top-content {
  display: flex;
  margin-top: 2rem;
}
#top-content #popular {
  margin-right: 1.5rem;
  width: 70%;
}
#top-content #popular img {
  width: 100%;
}
#top-content #popular h1 {
  float: left;
  width: 40%;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 2.8rem;
}
#top-content #popular p {
  color: var(--darkGreyishBlue);
  padding: 1.5rem 0;
}
#top-content #popular button {
  text-transform: uppercase;
  background-color: var(--veryDarkBlue);
  border: none;
  color: var(--offWhite);
  padding: 0.7rem 2rem;
  letter-spacing: 3px;
}
#top-content #popular button:hover {
  cursor: pointer;
}
#top-content #new {
  width: 30%;
  background-color: var(--veryDarkBlue);
  padding: 1rem;
}
#new h2 {
  color: var(--softOrange);
  margin: 0;
  font-size: 2rem;
}
#new .articles {
  border-bottom: 1px solid var(--darkGreyishBlue);
}
#new .articles:last-child {
  border-bottom: none;
}
#new .articles h3 {
  color: var(--offWhite);
  font-size: 1.1rem;
}
#new .articles h3:hover {
  cursor: pointer;
  color: var(--softOrange);
}
#new .articles p {
  color: var(--offWhite);
}
#trending {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}
#trending .trending-articles {
  width: 33.33%;
}
#trending .trending-articles img {
  float: left;
  margin-right: 1rem;
  width: 30%;
}
#trending .trending-articles .title {
  color: var(--grayishBlue);
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
#trending .trending-articles h3:hover {
  color: var(--softRed);
  cursor: pointer;
}
#trending .trending-articles p {
  color: var(--darkGreyishBlue);
}
@media screen and (max-width: 900px){
  header nav a {
    padding: 0 0.4rem;
  }
  #top-content #popular {
    margin-right: 1rem;
    width: 60%;
  }
  #top-content #popular h1 {
    font-size: 2rem;
  }
  #top-content #popular button {
    float: right;
    margin-right: 2rem;
  }
  #top-content #new {
    width: 40%;
  }
  #new .articles h3 {
    font-size: 0.9rem;
  }
  #new .articles p {
    font-size: 0.8rem;
  }
  #trending .trending-articles .title {
    font-size: 1rem;
  }
  #trending .trending-articles h3 {
    font-size: 0.8rem;
    margin: 0;
  }
  #trending .trending-articles p {
    font-size: 0.7rem;
    padding-right: 10px;
  }
}